*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITa */

.row{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
}
/* FINE UTILITA */


/* HEADER */
.background-header{
    background-color: rgb(0, 153, 255);
}
.row-header{
    display:flex;
    justify-content: space-between;
}

/* CONTENUTI HEADER */
.col-left-logo, .col-right-menu{
    height: 100px;
    width: 100px;
    background-color: rgb(223, 91, 91);
}

.extended-menu, .hamburger{
    width: 100%;
    height: 100%;
}
.extended-menu{
    display: none;
    background-color: yellow;
}

.hamburger{
    background-color: rgb(0, 255, 191);
}

/* FINE CONTENUTI HEADER */
/* FINE HEADER */



/* MAIN */
/* DEMO APPLICATION */
.col-30{
    min-width: calc(100%/3 *2 - 20px);
    margin: 10px;
    height: 400px;
    background-color: rgb(0, 217, 255);
}

.col-16{
    min-width: calc(100%/3 - 20px);
    margin: 10px;
    height: 200px;
    background-color: rgb(99, 237, 255);
}
/* FINE DEMO APPLICATION */

/* PLANNING */
.background-planning{
    background-color: rgb(179, 124, 230);
}

.col-50{
    min-width: calc(50% - 20px);
    margin: 10px;
    height: 500px;
    background-color: rgb(84, 40, 126);
}
/* FINE PLANNING */

/* TESTIMONIALS */
.col-25{
    min-width: calc(100%/4 - 20px);
    margin: 10px;
    height: 200px;
    background-color: rgb(84, 40, 126);
}
/* FINE TESTIMONIALS */

/* BENEFITS */
.benefit{
    background-color: rgb(189, 146, 230);
}
/* FINE BENEFITS */

/* ABOUT US */
.col-60{
    min-width: calc(60% - 20px);
    margin: 10px;
    height: 400px;
    background-color:bisque;
}

.col-40{
    min-width: calc(40% - 20px);
    margin: 10px;
    height: 400px;
    background-color:rgb(255, 197, 127);
}
/* FINe ABOUT US */

/* GET STARTED */
.get-start{
    background-color: rgb(211, 182, 238);
}

.col-100{
    min-width: calc(100% - 20px);
    margin: 10px;
    height: 400px;
    background-color:rgb(204, 127, 255);
}

.get-start .container{
    margin-bottom: 0px;
    margin-top: 0px;
}
/* FINE GET STARTED */
/* FINE MAIN */

/* FOOTER */

.background-footer{
    background-color: rgb(99, 99, 99);
}

.background-footer .container{
    margin-bottom: 0px;
    margin-top: 0px;
}

/* FINE FOOTER */





/* TABLET */
@media screen and (min-width:768px) {
    .container{
        max-width: 750px;
    }

    /* DEMO APPLICATION */
    .application .row{
        flex-wrap: wrap;
        flex-direction: row;
    }
    /* FINE DEMO APPLICATION */

    /* TESTIMONIALS */
    .benefit .row{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    /* FINe TESTIMONIALS */

    /* BENEFITS */
    .col-16{
        min-width: calc(100%/2 - 20px);
    }
    /* FINE BENEFITS */

    /* ABOUT US */
    .about-us .row{
        flex-direction: row;
    }
    /* ABOUT US */

}


/* DESKTOP */
@media screen and (min-width:991px) {
    .container{
        max-width: 950px;
    }
    /* HEADER */
    .col-right-menu{
        width: 500px;
    }
    .hamburger{
        display: none;
    }
    .extended-menu{
        display: block;
    }
    /* FINE HEADER */

    /* PLANNING */
    .background-planning .row{
        flex-direction: row;
    }
    /* FINE PLANNING */

    /* BENEFITs*/
    .col-16{
        min-width: calc(100%/3 - 20px);
    }

    /* FINE BENEFITs */

}


/* LARGE DESKTOP */
@media screen and (min-width:1200px) {
    .container{
        max-width: 1140px;
    }

}